.img-container {
    flex: 100;
    width: 100%;
}

.picture {
    width: 100%;
}

img {
    max-width: 100%;
    border-radius: .5rem .5rem 0 0;
}



@media screen and (min-width: 600px){
    img {
        border-radius: .5rem 0 0 .5rem ;
    }
}