.app-card {
    border-radius: .5rem;
    background: var(--white);
    width: 90%;
    margin-inline: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 600px){
    .app-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

