.app-card {
    border-radius: .5rem;
    background: var(--white);
    width: 90%;
    margin-inline: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px){
    .app-card {
        flex-direction: row;
    }
}

